@{
    Layout = null;
}

@{
    ViewBag.Title = "Index";
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <link href="~/Content/css/bootstrap.css" rel="stylesheet" type="text/css">
    <title>@ViewBag.Title</title>


</head>
<body>
    <div>
    
    </div>
</body>
</html>
